/* position, box-model, fonts, visuals and miscelaneous */

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html
{
  font-size: 62.5%
}

:root
{
  --black-one: #262626;
  --black-two: #181818;
  /* --border-color: #383938; */
  --border-gray: #B1B3B633;
  --dark-gray: #383938;
}

body
{
  background-color: var(--black-two);
  color:white;
}

header
{
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 51px;
  padding: 0 147px;
  background-color: var(--black-one);
}

.quora-logo
{
  /* position */
  display:inline-block;
  position: absolute;
  left: 144px;
  bottom: 1px;
  /* box model */
  width: 93px;
  height: 51px;
  /* fonts */
  /* visual effects */
  background-image: url('../assets/quora-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* misc */
}

.header--main-icon-wrapper
{
  display: inline-block;
  position: absolute;
  left: 259px;
  width: 300px;
  height: 50px;
}

.icon-container
{
  display: inline-block;
  position: relative;
  top: 1px; 
  width: 60px;
  height: 43px;
  padding: 12px 8px;
}

.header--icon
{
  display: inline-block;
  position: relative;
  left: calc(50% - 12px);
  height: 24px;
  width: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-icon
{
  background-image: url('../assets/home.svg')
}

.following-icon
{ 
  position: relative;
  right:3px;
  background-image: url('../assets/following.svg');
}

.answer-icon
{
  position: relative;
  right:6px;
  background-image: url('../assets/answer.svg');
}

.spaces-icon
{
  position: relative;
  right: 9px;
  background-image: url('../assets/community.svg');
}

.notifications-icon
{
  position: relative;
  right: 12px;
  background-image: url('../assets/bell.svg');
}

header>.header--search-bar-container
{
  display: inline-block;
  position: absolute;
  left: 559px;
  height: 50px;
  width: 349px;
}

.header--search-bar
{
  display: inline-block;
  position: absolute;
  height: 36px;
  width: 310px;
  margin: 7px 0px;
  border-width: 1px;
  padding: 4px 8px 4px 28px;
  color: #D5D6D6;
  border-radius: 3px;
  background-color: var(--black-two);
  border-color: #383938; 
  border-style: solid;
} 

.header--search-bar::placeholder
{
  color: #8E9092 
}

.search-bar--icon
{
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url('../assets/mgglass.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header--quora-plus
{
  position: absolute;
  left: 885px;
  top: 10px;
  height: 30px;
  width: 97px;
  border-width: 1px;
  color: #b1b3b6;
  border-radius: 1000px;
  border-style: solid;
  border-color: var(--border-gray);
  background-color: #202020;
}

.dropdown-icon-container
{
  position: absolute;
  left: 990px;
  width: 40px;
  height: 50px;
}

header>div:nth-child(6)
{
  position: absolute;
  left: 1028px;
}

.dropdown-icon
{
  display: block;
  width: 24px;
  height: 24px;
  margin: 13px auto 0;
  background-color: #00000000;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 1000px;
}

.user-profile-icon
{
  background-image: url('../assets/profpic.jpeg');
}

.languages-icon
{
  background-image: url('../assets/world.svg');
}

.dropdown-container--language-dropdown, .dropdown-container--user-dropdown
{
  display: none;
  position: absolute;
  top: 58px;
  right: -111px;
  width: 262px;
  height: 512px;
  border-width: 1px;
  background-color: var(--black-one);
  border-color: var(--border-gray);
  border-radius: 1%;
  border-style: solid;
  overflow-y: visible; /*temporal*/
}

/*SO page for border radius: https://stackoverflow.com/questions/16676166/apply-border-radius-to-scrollbars-with-css. This comment was not worth a commit*/
/* a new wrapping element may be needed */
.dropdown-container--arrow-up
{
  position: absolute;
  top: -7px;
  left: calc(50% - 7px);
  z-index: inherit;
  width: 0px;
  height: 0px;
  border-width: 0px 7px 7px; 
  border-color: transparent transparent var(--black-one);
  border-style: solid;
}

.dropdown-container--arrow-up__border
{
  position: absolute;
  top: -8px;
  left: calc(50% - 7px);
  z-index: inherit;
  width: 0px;
  height: 0px;
  border-width: 0px 7px 7px; 
  border-color: transparent transparent var(--border-gray);
  border-style: solid;
}

.user-dropdown--profile-link
{
  display: inline-block;
  position: absolute;
  width: 243px;
  height: 112px;
  padding-left: 16px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-gray);
}

.user-dropdown--profile-link--user-icon
{
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 16px;
  width: 40px;
  height: 40px;
  background-image: url('../assets/profpic.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 70%;
}

.user-dropdown--profile-link--username
{
  position: absolute;
  bottom: 13px;
  width: calc(100% - 16px);
  color: #cdcdcd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.52rem;
  text-align: left;
}

/* space left for dropdown */
.header--new-question
{
  display: inline;
  position: absolute;
  left: 1078px;
  top: 10px;
  height: 30px;
  width: 103px;
  padding-top: 1px;
  padding-left: 7px;
  padding-bottom: 0px;
  padding-right: 3px;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #F52936; 
  border-width: 0px 2px 0px 0px;
  border-color: #F4111f; 
  border-style:solid;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
/* rgb(241,41,54)
Hover: rgb(244, 22, 36)
      #F12936 */

.header--create-post
{
  display: inline;
  position: absolute;
  left: 1181px;
  top: 10px;
  height: 30px;
  width: 38px;
  background-color: #F52936;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

/* remember that a, input and span default to inline  */
aside, main
{
  position: relative;
  top: 100px;
}
